.DS_Store

cards.cdb
error.log

ygopro
ygopro.exe
/ygopro.app

/bin/
/build/
/obj/

/event/
/freetype/
/irrlicht/
/irrklang/
/ikpmp3/
/lua/
/sqlite/

/gframe/*.ico
/gframe/ygopro.rc
/gframe/ygopro.aps

premake5
premake5.exe
