.DS_Store

/deck
/expansions
/fonts
/icon
/pack
/pics
/replay
/single
/sound
!/sound/files.txt
/WindBot
/cards.cdb
/error.log
/bot.conf
/Bot.exe
/bot

/ygopro
/ygopro.exe
/ygopro.app
/ikpMP3.dll
/irrKlang.dll

/bin
/build
/obj
/event
/freetype
/irrlicht
/irrklang
/ikpmp3
/lua
/sqlite3
/gframe/*.ico
/gframe/ygopro.rc
/gframe/ygopro.aps
/premake5
/premake5.exe
